In [1]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\oriana ampuero\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\oriana ampuero\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import mysql.connector as conn

In [6]:
# crear una base de datos

crea_db=conn.connect(host='localhost', user='root', passwd= 'Oriana.123')
cursor=crea_db.cursor()

cursor.execute('drop database if exists movies;')
cursor.execute('create database movies;')

In [8]:
# conectar a base de datos

db=conn.connect(host='localhost', user='root', passwd= 'Oriana.123', database='movies')
cursor=db.cursor()

In [9]:
# crear tabla

cursor.execute('drop table if exists film;')

tabla='''

        create table film(
        
            film_id int primary key not null,
            tittle varchar(50),
            description varchar(50),
            release_year int,
            lenguage_id int,
            rental_duratin int,
            rental_rate float,
            replacement_cost float,
            special_features varchar (500)
        );


'''


cursor.execute(tabla)

In [10]:
cursor.execute('drop table if exists category;')

tabla='''

        create table category(
        
            category_id int primary key not null,
            name varchar (25)
        );


'''


cursor.execute(tabla)

In [11]:
cursor.execute('drop table if exists rental;')

tabla='''

        create table rental(
        
            rental_id int primary key not null,
            rental_date datetime, 
            inventory_id int,
            return_date datetime
        );


'''


cursor.execute(tabla)

In [12]:
cursor.execute('drop table if exists inventory;')

tabla='''

        create table inventory(
        
            inventory_id int primary key not null,
            film_id int, 
            store_id int
        );


'''


cursor.execute(tabla)

In [13]:
cursor.execute('drop table if exists language;')

tabla='''

        create table language(
        
            language_id int primary key not null,
            name varchar (45)
        );


'''


cursor.execute(tabla)

In [14]:
cursor.execute('drop table if exists actor;')

tabla='''

        create table actor(
        
            actor_id int primary key not null,
            first_name varchar (45),
            last_name varchar (45)
        );


'''


cursor.execute(tabla)

In [15]:
cursor.execute('drop table if exists language;')

tabla='''

        create table language(
        
            language_id int primary key not null,
            name varchar (45)
        );


'''


cursor.execute(tabla)

In [16]:
cursor.execute('drop table if exists old_hdd;')

tabla='''

        create table old_hdd(
        
            first_name varchar (45),
            last_name varchar (45),
            tittle varchar (45),
            release_year int,
            category_id int
        );


'''


cursor.execute(tabla)